BOT_TOKEN=<YOUR_BOTFATHER_API>
ADMIN_ID=<YOUR_TELEGRAM_ID>
POSTGRES_USER=<POSTGRES_USER> # This value is going to be your database user
POSTGRES_PASSWORD=<POSTGRES_PASSWORD> # This value is going to be your database password
POSTGRES_DATABASE=<POSTGRES_DATABASE> # This value is going to be your database name
DATABASE_URL=postgresql://<POSTGRES_USER>:<POSTGRES_PASSWORD>@postgres:5432/<POSTGRES_DATABASE>
BOT_ENV=prod # Which environment Telegram bot will run in ("test" or "prod")